* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.left {
    background: url('peter-emery-3laQjMkyCRM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30vw;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: #f9fafb;
}

.btn {
    background-color: #47599f;
    height: 50px;
    width: 200px;
    border-radius: 0.5em;
    /* box-shadow: gray; */
}

.one{
    height: 25vh;
    padding-left: 5%;
     padding-top: 8%; 
    padding-bottom: 2%; 
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;    
}

.two {
    background-color: white;
    height: 40vh;
    padding-left: 5%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.three{
    height: 30vh;
    padding-left: 5%;
    padding-top: 4%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-row,.second-row,.third-row{
    display: flex;
    gap: 20px;
}



a {
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 5px; /* Adds space between label and input */
}

input {
    padding: 3px;
    border-radius: 4px;
    border: 2px solid black;
}

input:focus {
    border: 2px solid #89CFF0;
}

input:invalid {
    border: 2px solid red;
}

/* input[type="text"] {
    padding-left: 6px;

}

input:focus {
    border: 1px solid #89CFF0;
}

input:invalid {
    border: 1px solid red;
} */

/* input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
} */


.for-logo {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-transparency {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);

}

a{
    color: #47599f;
    font-weight: 700;
}